.app.light {
    --bg-color: #e8e8eaff;
    --inverted-bg-color: #0e0e75;
    --primary-color: #092b91;
    --secondary-color: #1259f3;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}